<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Py-Compiler</title>
    {#    codemirror#}
    <link rel="stylesheet" href="/static/CodeMirror/lib/codemirror.css">
    <script src="/static/CodeMirror/lib/codemirror.js"></script>
    {#    我的自定义#}
    <link rel="stylesheet" href="/static/css/mystyle.css">
    {#    jq文件#}
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/static/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="/static/favicon.ico">
    {#    codemirror代码高亮相关#}
    <script src="/static/CodeMirror/mode/clike/clike.js"></script>
    <link rel="stylesheet" href="/static/CodeMirror/theme/dracula.css">
    {#    代码折叠相关#}
    <link rel="stylesheet" href="/static/CodeMirror/addon/fold/foldgutter.css">
    <script src="/static/CodeMirror/addon/fold/brace-fold.js"></script>
    <script src="/static/CodeMirror/addon/fold/comment-fold.js"></script>
    <script src="/static/CodeMirror/addon/fold/foldcode.js"></script>
    <script src="/static/CodeMirror/addon/fold/foldgutter.js"></script>
    <script src="/static/CodeMirror/addon/fold/indent-fold.js"></script>
    {#    代码自动补全#}
    {#    <link rel="stylesheet" href="/static/CodeMirror/addon/hint/show-hint.css">#}
    {#        <script src="/static/CodeMirror/addon/hint/show-hint.js"></script>#}
    {#    <script src="/static/CodeMirror/addon/hint/c-hint.js"></script>#}
    <script src="/static/CodeMirror/addon/edit/matchbrackets.js"></script>
    <script src="/static/CodeMirror/addon/edit/closebrackets.js"></script>

</head>
<body>
<div class="jumbotron" style="position:absolute; height: 100%; width:100%; z-index: 999999; margin-bottom: 0"
     id="welcome">
    <h1 class="big">Hello, world!</h1>
    <p class="small">This is a C compiler written in python</p>
    <p><a class="btn btn-primary btn-lg" href="#in-output" role="button" style="margin-left: 1%;"
          id="start-btn">Start</a></p>
</div>
<div class="in-output">
    <a href="#" name="in-output"></a>
    <div class="left">
        <input type="file" id="files" style="display: none" onchange="fileImport();">
        <input type="button" class="btn btn-success"
               style="margin-left: 15px;margin-bottom: 10px;margin-top: 10px;height: 30px" id="fileImport" value="导入">
        <textarea class="form-control" id="code" name="code"></textarea>
    </div>
    <div class="right">
        <input type="button" class="btn btn-success"
               style="margin-left: 15px;margin-bottom: 10px;margin-top: 10px;height: 30px" id="get_table" value="语法分析">
        {#        <input type="button" class="btn btn-success"#}
        {#               style="margin-left: 5px;margin-bottom: 10px;margin-top: 10px;height: 30px" id="get_generate" value="生成四元式">#}
        <input type="button" class="btn btn-success"
               style="margin-left: 5px;margin-bottom: 10px;margin-top: 10px;height: 30px" id="get_lexer" value="字符变量分析">
        <input type="button" class="btn btn-success"
               style="margin-left: 5px;margin-bottom: 10px;margin-top: 10px;height: 30px" id="get_lr" value="生成语法树">
        <input type="button" class="btn btn-success"
               style="margin-left: 5px;margin-bottom: 10px;margin-top: 10px;height: 30px" id="get_asm" value="汇编">
        <input type="button" class="btn btn-success"
               style="margin-left: 5px;margin-bottom: 10px;margin-top: 10px;height: 30px" id="run" value="运行">
        <input type="button" class="btn btn-success"
               style="margin-left: 5px;margin-bottom: 10px;margin-top: 10px;height: 30px" id="download" value="下载">
        <textarea class="form-control" id="code-out" name="code-out" style="margin-right: 0;"></textarea>
    </div>
</div>
</body>
<script src="/static/js/myfunc.js"></script>
</html>